# Задание
Вопросы по заданию
Преподаватель: Константин Башевой
Домашнее задани## е

Задание 1
Датасет для домашнего задания вы найдете в разделе “Материалы к домашнему заданию” (файл “Дополнительные файлы для домашнего задания”) к этому занятию.
Определите, какому фильму было выставлено больше всего оценок##  5.0.

Задание 2
По данным файла power.csv (находится в архиве в разделе Материалы к лекции «Библиотека Pandas» - файл “Дополнительные файлы для домашнего задания”) посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательныеquantity## uantity.

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas DataFrame. Вы можете взять любые страницы.
Примеры страниц:

## Задание 1

In [62]:
import pandas as pd

In [63]:
movies_ds = pd.read_csv('movies.csv')

In [64]:
movies_ds.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [65]:
raiting_ds = pd.read_csv('ratings.csv')

In [66]:
raiting_ds.head(1000)

     userId  movieId  rating   timestamp
0         1        1     4.0   964982703
1         1        3     4.0   964981247
2         1        6     4.0   964982224
3         1       47     5.0   964983815
4         1       50     5.0   964982931
..      ...      ...     ...         ...
995       7     8972     2.5  1111552650
996       7     8984     4.0  1106636101
997       7    27741     3.0  1107474020
998       7    30812     3.5  1113353083
999       7    30816     2.0  1107127004

[1000 rows x 4 columns]

## <span style="color:blue;">Решение задания 1</span>
---

In [67]:
#отфильтруем датасец с оценками фильмов по условию рейтинг 5
raiting_5_ps = raiting_ds[raiting_ds['rating']==5]
raiting_5_ps.head()
# len(raiting_5_ps)

   userId  movieId  rating  timestamp
3       1       47     5.0  964983815
4       1       50     5.0  964982931
6       1      101     5.0  964980868
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [68]:
# посчитаем количество оценок для каждого фильма
raiting_5_count_ds = raiting_5_ps['movieId'].value_counts()
raiting_5_count_ds.head()

movieId
318     153
296     123
356     116
2571    109
260     104
Name: count, dtype: int64

In [69]:
# определим id фильма с максимальным количеством пятерок
max_count_5_movie_id = raiting_5_count_ds.idxmax()
max_count_5_movie_id

318

In [70]:
# определим максимальное количество 5
max_count_5_movie = raiting_5_count_ds.max()
max_count_5_movie

153

In [71]:
# получаем название фильма по идентификатору
max_count_5_movie_title = movies_ds[movies_ds['movieId'] == max_count_5_movie_id].iloc[0]
max_count_5_movie_title['title']

'Shawshank Redemption, The (1994)'

#### <span style="color:blue;">Ответ к заданию 1</span>

In [72]:
print(f'Фильм с наибольшим количеством оценок 5.0: {max_count_5_movie_title["title"]} \nколичество 5: {max_count_5_movie}  ')

Фильм с наибольшим количеством оценок 5.0: Shawshank Redemption, The (1994)
количество 5: 153

## <span style="color:blue;">Решение задания 2</span>
---

In [73]:
power_ds = pd.read_csv('power.csv')

In [74]:
power_ds.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [78]:
filtered_power_ds = power_ds[
    (power_ds['country'].isin(['Latvia', 'Lithuania', 'Estonia'])) &
    (power_ds['category'].isin([4, 12, 21])) &
    (power_ds['year'].between(2005, 2010)) &
    (power_ds['quantity'] > 0)
]
filtered_power_ds.head()

         country  year  quantity  category
10617    Estonia  2008       1.0         4
10620    Estonia  2005       1.0         4
11156  Lithuania  2008       1.0         4
11158  Lithuania  2006       1.0         4
11159  Lithuania  2005       1.0         4

In [79]:
sum_consumption = filtered_power_ds['quantity'].sum()

#### <span style="color:blue;">Ответ к заданию 2</span>

In [81]:
print(f'Суммарное потребление стран Прибалтики при заданных условиях {sum_consumption}')

Суммарное потребление стран Прибалтики при заданных условиях 240580.0

## <span style="color:blue;">Решение задания 3</span>
---

In [88]:
!pip install html5lib

Requirement already satisfied: html5lib in d:\users\maxlpt\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in d:\users\maxlpt\anaconda3\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in d:\users\maxlpt\anaconda3\lib\site-packages (from html5lib) (0.5.1)

In [89]:
# URL страницы 
url = 'https://coinmarketcap.com/'

# Используем метод read_html для  таблиц с веб-страницы
dfs = pd.read_html(url)

# Выводим количество найденных таблиц на странице
print(f"Найдено таблиц: {len(dfs)}")

# Просматриваем первые несколько строк первой таблицы для оценки данных
print(dfs[0].head())

Найдено таблиц: 1
   Unnamed: 0    #         Name       Price   1h %  24h %   7d %  \
0         NaN  1.0   BitcoinBTC  $60,826.73  0.02%  3.22%  3.09%
1         NaN  2.0  EthereumETH   $2,915.29  0.08%  3.61%  6.10%
2         NaN  3.0   TetherUSDT     $0.9999  0.01%  0.01%  0.08%
3         NaN  4.0       BNBBNB     $583.09  0.16%  1.48%  0.33%
4         NaN  5.0    SolanaSOL     $144.35  0.28%  5.80%  0.44%

                 Market Cap                         Volume(24h)  \
0   $1.2T$1,198,134,769,876          $27,315,735,066449,055 BTC
1  $350.15B$350,154,660,058        $12,020,129,8314,123,113 ETH
2  $110.83B$110,832,233,935  $49,694,992,96549,698,475,741 USDT
3    $86.06B$86,057,184,732         $1,532,177,0202,627,664 BNB
4    $64.73B$64,730,140,112        $2,473,053,16917,132,384 SOL

     Circulating Supply  ...  Unnamed: 94  Unnamed: 95  Unnamed: 96  \
0        19,696,640 BTC  ...          NaN          NaN          NaN
1       120,109,117 ETH  ...          NaN          NaN          NaN
2  110,840,001,396 USDT  ...          NaN          NaN          NaN
3       147,586,967 BNB  ...          NaN          NaN          NaN
4       448,426,099 SOL  ...          NaN          NaN          NaN

   Unnamed: 97  Unnamed: 98  Unnamed: 99  Unnamed: 100  Unnamed: 101  \
0          NaN          NaN          NaN           NaN           NaN
1          NaN          NaN          NaN           NaN           NaN
2          NaN          NaN          NaN           NaN           NaN
3          NaN          NaN          NaN           NaN           NaN
4          NaN          NaN          NaN           NaN           NaN

   Unnamed: 102  Unnamed: 103
0           NaN           NaN
1           NaN           NaN
2           NaN           NaN
3           NaN           NaN
4           NaN           NaN

[5 rows x 104 columns]